<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="JsonPath" value="C:\Users\William\source\repos\HookInterfaceCreator\HookInterfaceCreator\Data\hooks.json" />
		<add key="Output" value="C:\Users\William\source\repos\HookInterfaceCreator\HookInterfaceCreator\Output\" />
		<add key="Package" value="api.utilities.internal" />
	</appSettings>
</configuration>
